/* Munch base styles */

/* FONT FACES */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
    font-weight: 300 800;
}

/* VARIABLE DEFINITIONS */
:root {
    --black: #303030;
    --light-grey-100: #CACACA;
    --dark-grey-500: #676767;
    --white: whitesmoke;

    --accent-primary: #FF965E;

    --font-family-primary: 
        'Open Sans',
        'Helvetica',
        Arial,
        sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --border-default: 1px solid var(--light-grey-100);
}

body {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    background: var(--white);
}

/* LINKS */

a:link, a:visited {
    color: var(--black);
    text-decoration: none;
}

/* GLOBAL DEFAULTS */

p, h1, h2, h3, h4, h5 {
    margin: 0 0;
}

hr {
    border: none;
    border-top: var(--border-default);
}

/*Loading Page*/

/*
Source: https://www.w3schools.com/howto/howto_css_loader.asp
Date Accessed: Sunday, Mar 29, 2026
*/

.page {
    display: none;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--accent-primary);
    border-radius: 50%;
    width: 98px;
    height: 98px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}