/* Munch base styles */

/* FONT FACES */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('ttf');
    font-weight: 300 800;
}

/* VARIABLE DEFINITIONS */
:root {
    --black: #222222;
    --light-grey-100: #CACACA;
    --white: whitesmoke;

    --font-family-primary: 
        'Open Sans',
        'Helvetica',
        Arial,
        sans-serif;

    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;

    --border-default: 1px solid var(--light-grey-100);
}

body {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    color: var(--black);
    background: var(--white);
}

/* GLOBAL DEFAULTS */

p, h1, h2, h3, h4, h5 {
    margin: 0 0;
}

hr {
    border: none;
    border-top: var(--border-default);
}

