main { 
    display: grid;
}

.profile-card {
    border-bottom: 1px solid var(--light-grey-100);
}

.profile-card__banner__wrapper img {
    width: 100%;
    height: 150px; /* to be updated */
    object-fit: cover;
}

.profile-card__headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 1rem 1.5rem 0 1.5rem;
    margin-top: -56px;
}

.profile-card__body {
    display: grid;
    padding: 0 1.5rem 1rem 1.5rem;
    gap: 0.5rem;
}

.profile-card__links {
    padding: 0 1rem;
    border: 1px solid var(--light-grey-100);
    border-radius: 10px;
}

.content-list__headline {
    border-bottom: var(--border-default);
}

.profile-card__avatar__wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background: #eee;
}

.content-list__headline {
    padding: 1rem 1.5rem;
}

.entry-card {
    border-bottom: var(--border-default);
    padding: 1rem;
}

.entry-link {
    text-decoration: none;
    color: inherit;
    display: block;
}