<!DOCTYPE html>
<html lang="en">
<head>
    <title>Munch | {% block title %}{% endblock title %}</title>

    {% block links %}
    {% endblock links %}

    {% block scripts %}
    <script>
        csrftoken = '{{ csrf_token }}'
    </script>
    {% endblock scripts %}

    {% block styles %}
    {% endblock styles %}
</head>
<body>
    {% block body %}
    <header>
        {% block header %}
        {% endblock header %}
        <nav>
            {% block nav %}
            {% endblock nav %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    {% endblock body %}
</body>
</html>