{% extends "munch/nav-content.html" %}
{% load static %}
]<script src="{% static 'munch/js/comment.js' %}"></script>

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'munch/css/entry_detail.css' %}">
{% endblock links %}

{% block title %}
    {{ entry.author.displayName }} - "{{ entry.title }}"
{% endblock title %}

{% block content-bar %}
    <strong>Post</strong>
{% endblock content-bar %}

{% block content-scrollable %}
    {% include "munch/entry.html" with entry=entry request=request only %}

    <div class="content-list__headline">
        <strong>Comments</strong>
    </div>

    <div class="item-list">
        {% for comment in comments %}
            <div class="comment-card">
                <strong>{{ comment.author.displayName}}</strong>
                <p>{{ comment.comment }}</p>
                <!--
                F full month
                j day without the 0
                Y 4 digit year
                g 12 hr format without leading 0
                i minutes with leading 0
                a am/pm
                Source: https://docs.djangoproject.com/en/6.0/ref/templates/builtins/#date
                Date Added: Sunday, March 15, 2026
                -->
                <small>{{ comment.published|date:"F j, Y, g:i a" }}</small>
            </div>
        {% empty %}
            <p>No comments</p>
        {% endfor %}
    </div>
    <div class="comment-form">
        <form method="post" action="{% url 'munch:post_comment' entry.author.uuid entry.serial %}">
            {% csrf_token %}
            <textarea name="comment" placeholder="Write a comment..." rows="3"></textarea><br>
            <button type="submit">Comment</button>
        </form>
    </div>
{% endblock content-scrollable %}
