{% extends "munch/nav-content.html" %}
{% load static %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'munch/css/entry_detail.css' %}">
{% endblock links %}

{% block title %}
    {{ entry.author.displayName }} - "{{ entry.title }}"
{% endblock title %}

{% block content-bar %}
    <strong>Post</strong>
{% endblock content-bar %}

{% block content-scrollable %}
    {% include "munch/entry.html" with entry=entry request=request only %}

    <div class="content-list__headline">
        <strong>Comments</strong>
    </div>

    <div class="item-list">
        <p>Comment list goes here</p>
    </div>
{% endblock content-scrollable %}
