{% extends "munch/nav-content.html" %}

{% block title %}Followers{% endblock title %}

{% block scripts %}
<script>
    window.addEventListener("load", main);
    function main() {
        const follower_list = document.getElementById('follower_list');
        follower_list.addEventListener('click', (event) => {
            if (event.target && event.target.classList.contains('unfollow')) {
                const fqid = event.target.getAttribute('data-follower-id');
                document.getElementById(`unfollow-${fqid}`).disabled = true;
                unfollow(fqid);
            }
        })
    }

    async function unfollow(fqid) {
        const csrftoken = "{{ csrf_token }}";
        let url = "{% url 'munch:manage_follower' user.uuid 'TARGET_FQID' %}";
        url = url.replace('TARGET_FQID', encodeURIComponent(fqid));

        // send DELETE request to following api
        const response = await fetch(url, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': csrftoken,
            }
        });

        if (response.ok) {
            document.getElementById(`follower-${fqid}`).remove();
        }
    }
</script>
{% endblock scripts %}

{% block content-bar %}
<strong>Followers</strong>
{% endblock content-bar %}

{% block content-scrollable %}
<ul id="follower_list">
    {% for follower in followers %}
        <li id="follower-{{ follower.id }}">
            <a href="{{ follower.web }}">{{ follower.displayName }}</a>
            <button id="unfollow-{{ follower.id }}" class="unfollow" data-follower-id="{{ follower.id }}">remove</a>
        </li>
    {% empty %}
        <p>No followers yet...</p>
    {% endfor %}
</ul>
{% endblock content-scrollable %}