{% extends "munch/base.html" %}

{% block title %}Login{% endblock title %}

{% block nav %}
    <ul>
        <li><a href="{% url 'munch:followers' %}">Followers</a></li>
        <li><a href="{% url 'munch:profile' %}">Profile</a></li>
    </ul>
{% endblock nav %}

{% block content %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="user_login">
            <br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password_login">
            <button>Submit</button>
{% endblock content %}
