{% extends "munch/base.html" %}
{% load static %}
{% block nav %}
<h1 class="logo">
    Munch
</h1>

{% if request.user.is_authenticated %}
{% include "munch/profile-summary.html" with author=user request=request only %}

<div><hr></div>

<menu class="nav-links">
    <li><a href="{% url 'munch:stream' %}">
        <img src="{% static 'munch/icons/home.svg' %}">
        Feed
    </a></li>
    <li><a href="{% url 'munch:list_follow_requests' author_uuid=user.uuid %}">
        <img src="{% static 'munch/icons/group.svg' %}">
        Follow Req.
    </a></li>
    <li><a href="{% url 'munch:settings' %}">
        <img src="{% static 'munch/icons/settings.svg' %}">
        Settings
    </a></li>
</menu>

<div><hr></div>

<a id="create-entry" class="nav-link" href="{% url 'munch:create_entry_UI' user.uuid %}">
    <img src="{% static 'munch/icons/edit_square.svg' %}">
    Post
</a>

{% else %}
<div><hr></div>
<div class="nav-auth">
    <a href="{% url 'munch:login' %}" class="btn-nav-login">Log in</a>
    <a href="{% url 'munch:signup' %}" class="btn-nav-signup">Sign up</a>
</div>
{% endif %}
{% endblock nav %}
