{% extends "munch/nav-content.html" %}
{% load static %}

{% block links %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'munch/css/entry.css' %}">
<link rel="stylesheet" href="{% static 'munch/css/stream.css' %}">
{% endblock links %}

{% block title %}
Stream
{% endblock title %} 

{% block content-bar %}
<strong>Feed</strong>
<nav style="font-size: 0.8em; display: flex; gap: 15px;">
        <a href="{% url 'munch:stream' %}">Following</a>
        <a href="{% url 'munch:public_browse' %}">Global</a>
</nav>
{% endblock content-bar %}

{% block content-scrollable %} 
<div class="item-list">
    {% for entry in entries %}
    {% include "munch/entry.html" with entry=entry %}
    {% empty %}
    <p>Nothing yet :3</p>
    {% endfor %} 
</div>
<div class="pagination">
    {% if page > 1 %}
        <a href="?page={{ page|add:'-1' }}">Previous</a>
    {% endif %}
    <span>Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
        <a href="?page={{ page|add:'1' }}">Next</a>
    {% endif %}
</div>
{% endblock content-scrollable %}